<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gestión de departamentos</title>
</head>
<body>
<h1>Gestión de departamentos</h1>

<div th:each="dpto : ${listaDepartamentos}">
<h2 th:text="${ dpto.desc }"></h2>
<p>
		<table>
			<tr><th>Cif</th><th>Nombre</th><th>Apellidos</th><th>Edad</th></tr>
			<tr th:each="empleado : ${dpto.empleados}">
				<td th:text="${empleado.cif}"></td>
				<td th:text="${empleado.nombre}"></td>
				<td th:text="${empleado.apellidos}"></td>
				<td th:text="${empleado.edad}"></td>
			</tr>
		</table>
</p>
</div>
</body>
</html>